api/nohup.out
api/api
api/nohup.out
api/todoplus-api
api/upload/*
.specstory/
.specstory/.what-is-this.md
api/redis
.idea
uploads/*
*.mp4
*.exe
files/*
api/logs
.claude/settings.local.json
.DS_Store
output/*
call-mineru-gradio/output/*
app-local-genAI/*
api/output/*
api/files/*
api/*.log.txt
mdtree
api-build
api/ai_session_logs/*.log.txt
api/ai_session_logs/*
/knowsource
*.bak
*.zip